.buttonsContainer {
  margin: 34px 70px;
}

.responseContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  margin: 30px 104px 26px 166px;
}

.image {
}

.textContainer {
  font-weight: 500;
}

.code {
  font-size: 30px;
  line-height: 37px;
}

.text {
  margin-top: 12px;
  font-size: 16px;
  line-height: 20px;
}
.info {
  font-size: 16px;
  line-height: 20px;
}
