.sidebar {
  display: none;
}

.sidebar.open {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 318px;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 64px;
  left: 70px;
}

.nav a {
  margin-top: 45px;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}

.nav a:hover {
  color: rgb(88, 172, 255);
}

.nav a.active {
  color: rgb(0, 89, 178);
}
.close {
  position: absolute;
  top: 16px;
  left: 269px;
}

.close img {
  width: 24px;
  height: 24px;
}
